build/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
*/target/*
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
.idea/
*/.idea/*
*.iml
*/*.iml
*.ipr
*.iws
.classpath
.project
.scala_dependencies
.target/
.cache
logs/*
*/logs/*
.settings/
log
log/*
*/log/*
